Repository Unidata/siphon, pull requests merged in 2018-08, with the labels that each got.

#241 Add NDBC simple web service
  docs/api/simplewebservice.rst
  docs/installguide.rst
  examples/ndbc/README.txt
  examples/ndbc/buoy_met_request.py
  examples/ndbc/buoy_type_request.py
  examples/ndbc/latest_request.py
  siphon/simplewebservice/ndbc.py
  siphon/tests/fixtures/ndbc_buoy_data_types
  siphon/tests/fixtures/ndbc_latest
  siphon/tests/fixtures/ndbc_realtime_cwind
  siphon/tests/fixtures/ndbc_realtime_dart
  siphon/tests/fixtures/ndbc_realtime_drift
  siphon/tests/fixtures/ndbc_realtime_ocean
  siphon/tests/fixtures/ndbc_realtime_rain
  siphon/tests/fixtures/ndbc_realtime_spec
  siphon/tests/fixtures/ndbc_realtime_srad
  siphon/tests/fixtures/ndbc_realtime_supl
  siphon/tests/fixtures/ndbc_realtime_txt
  siphon/tests/test_ndbc.py
Labels: Area: Web Services

#242 HTTP Client updates
  environment.yml
  examples/Basic_Usage.py
  siphon/catalog.py
  siphon/cdmr/tests/test_ncstream.py
  siphon/http_util.py
  siphon/simplewebservice/acis.py
  siphon/tests/test_http_util.py
  siphon/tests/test_ncss_dataset.py
Labels: Area: Infrastructure, Type: Enhancement

#243 ENH: Add the option to return xarray from catalog helpers (Fixes #229)
  siphon/catalog.py
  siphon/tests/test_catalog_access.py
Labels: Area: Catalog, Type: Enhancement
