Repository Unidata/siphon, pull requests merged in 2018-07, with the labels that each got.

#235 ENH: Make IGRA2 tests run offline (Fixes #204)
  .appveyor.yml
  siphon/simplewebservice/igra2.py
  siphon/tests/fixtures/USM00070026-derived.zip
  siphon/tests/fixtures/USM00070026.zip
  siphon/tests/test_igra2.py
Labels: Area: Tests, Area: Web Services, Type: Enhancement

#234 Implement all-station IEM Upper Air request
  docs/api/simplewebservice.rst
  siphon/simplewebservice/iastate.py
  siphon/tests/fixtures/iastate_all_data_all_levels
  siphon/tests/fixtures/iastate_all_data_single_pressure
  siphon/tests/fixtures/iastate_no_future_data_with_pressure
  siphon/tests/test_iastate.py
Labels: Area: Web Services, Type: Feature

#227 Fix for IGRA dewpoint calculation
  siphon/simplewebservice/igra2.py
Labels: Area: Web Services, Type: Bug

#239 Add capability to deal with stations with no identifier from Wyoming
  siphon/simplewebservice/wyoming.py
  siphon/tests/fixtures/wyoming_sounding_no_station
  siphon/tests/test_wyoming.py
Labels: Area: Web Services, Type: Bug
