Repository Unidata/siphon, pull requests merged in 2018-03, with the labels that each got.

#194 MNT: Fix with xarray 0.10.2 (Fixes #192)
  environment.yml
  setup.py
  siphon/cdmr/xarray_support.py
Labels: Area: CDMRemote, Type: Maintenance

#195 MNT: Remove calls to dict.keys()
  examples/ncss/NCSS_Example.py
  examples/ncss/NCSS_Timeseries_Examples.py
  siphon/catalog.py
  siphon/ncss.py
  siphon/ncss_dataset.py
  siphon/radarserver.py
Labels: Type: Maintenance

#196 BUG: Not all ACIS tests were using VCR
  siphon/tests/fixtures/acis_general
  siphon/tests/fixtures/acis_griddata
  siphon/tests/fixtures/acis_multistndata
  siphon/tests/fixtures/acis_stndata
  siphon/tests/test_acis.py
Labels: Area: Tests, Area: Web Services, Type: Bug

#197 ENH: Add version chooser to docs
  .travis.yml
  ci/deploy_docs.sh
  ci/gen_versions_json.py
Labels: Area: Docs, Area: Infrastructure, Type: Enhancement

#185 Adding function to read in IGRA2 upper air data
  examples/upperair/IGRA2_Request.py
  examples/upperair/README.txt
  siphon/simplewebservice/igra2.py
  siphon/tests/test_igra2.py
Labels: Area: Web Services, Type: Feature

#201 MNT: Improve logging set up
  siphon/catalog.py
  siphon/cdmr/coveragedataset.py
  siphon/cdmr/dataset.py
  siphon/cdmr/ncstream.py
  siphon/metadata.py
  siphon/ncss_dataset.py
  siphon/tests/test_catalog.py
Labels: Area: Infrastructure, Type: Maintenance

#200 Doc enhancements
  docs/_static/siphon_150x150.png
  docs/_static/siphon_150x150_white_bg.png
  docs/conf.py
  docs/index.rst
Labels: Area: Docs, Type: Enhancement

#208 BUG: Fix check for latest on CompoundService
  siphon/catalog.py
  siphon/tests/fixtures/latest_resolver_on_latest_dataset
  siphon/tests/test_catalog.py
Labels: Type: Bug
