Repository Unidata/siphon, pull requests merged in 2018-04, with the labels that each got.

#209 Cleanup doc config
  docs/_static/theme_override.css
  docs/_templates/breadcrumbs.html
  docs/conf.py
  docs/index.rst
Labels: Area: Docs, Type: Enhancement, Type: Maintenance

#211 Fix documentation build
  .travis.yml
  docs/conf.py
  environment.yml
  setup.py
Labels: Area: Examples, Area: Infrastructure, Type: Bug

#219 corrected bug where na_values were bypassed
  siphon/simplewebservice/igra2.py
Labels: Area: Web Services, Type: Bug

#220 Doc updates
  .travis.yml
  README.rst
  SUPPORT.md
  docs/index.rst
  docs/installguide.rst
Labels: Area: Docs, Type: Enhancement
